.talk-list {
  margin: 2rem 0;

  &__header {
    font-weight: 300;
    color: white;
    position: relative;

    &:before {
      content: "»";
      display: block;
      position: absolute;
      left: -20px;
      color: white;
    }
  }

  .talk {
    display: flex;
    margin-top: 1rem;

    &__image {
      margin-right: 1.5rem;

      figure {
        margin: 0;
      }

      img {
        width: 210px;
        height: 160px;
        background-size: cover;
        box-shadow: 3px 3px 10px rgba(0, 0, 0, .1);
      }
    }

    &__info {
      flex-grow: 1;
    }

    &__title {
      text-decoration: none;
      color: black;
    
      h2 {
        text-transform: lowercase;
        font-weight: 300;
        font-size: 1.7rem;
      }
    }

    &__date,
    &__location {
      margin: .2rem 0;
      font-size: .9rem;
      text-transform: lowercase;
      color: $teal;
    }

    &__more-info {
      margin-top: .5rem;
    }

    &__conference-list {
      display: block;
      color: $teal;
      margin-top: .5rem;
    }
  }
}

@media all and (max-width: 585px) {
  .talk-list .talk {
    display: block;
    text-align: center;
  }
}
