$teal: #33526c;
$lightBlue: #5F8AB0;
$bluishGrey: #C3CED2;

body, html {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 16px;
}

* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}

h1, h2, h3, h4, h5 {
  padding: 0;
  margin: 0;
  font-weight: 400;
}

b, strong {
  font-weight: 600;
}

.talk .btn {
  background-color: $teal;
  color: white;
  font-weight: 400;
  text-transform: uppercase;
  padding: .9rem 3rem;
  border: none;
  border-radius: 3px;
  text-decoration: none;
  font-size: .9rem;
  display: inline-block;
  transition: box-shadow 300ms ease-in-out;

  &:hover {
    box-shadow: 0px 3px 15px rgba(0, 0, 0, .3);
  }

  &:active {
    box-shadow: 0px 3px 4px rgba(0, 0, 0, .1) inset;
  }
}

.logo {
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 0 9px;
    &.logo-light {
        background-image: url(http://sourced.tech/img/logos/logo-white.svg);
	}
    &.logo-dark {
        background-image: url(http://sourced.tech/img/logos/logo-blue.svg);
    }
    &.logo-gray {
       background-image: url(http://sourced.tech/img/logos/logo-blue.svg);
    }

}
