### General ###
*.lock
.ci

### Jekyll ###
_site/
.jekyll-metadata

### Sass ###
.sass-cache

### Windows ###
# Windows image file caches
Thumbs.db
ehthumbs.db

## Webpack
**/node_modules
**/src/js/bundle.js

**/public

package-lock.json
