.current-talks {
  position: relative;
  width: 100%;
  padding: 2rem;
  background-image: url(/img/header.jpg);
  background-position: center center;
  background-size: cover;
  overflow-x: hidden;

  &__slope {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 110%;
    z-index: 0;
  }
  
  &__content {
    position: relative;
    width: 50%;
    margin-left: 50%;
    z-index: 5;

    header {
      h1 {
        font-weight: 100;
        font-size: 5rem;
        color: $lightBlue;
      
        img {
          display: block;
        }
      }

      p.description {
        margin: 0;
        max-width: 350px;
      }
    }
  }
}

@media all and (max-width: 985px) {
  .current-talks {
    background: $bluishGrey;

    &__content {
      width: 90%;
      max-width: 420px;
      margin: 0 auto;
    }
  }
}

@media all and (max-width: 985px) {
  .current-talks {
    &__slope {
      display: none;
    }
  }
}

@media all and (max-width: 585px) {
  .current-talks {
    &__content {
      header h1 {
        font-size: 4rem;
      }
    }
  }
}
