<article class="talk past">
    <a href="{{include.talk.link}}" class="talk__image">
        <figure>
            <img src="{{include.talk.image}}" alt="source{d} tech talk {{name}}">
        </figure>
    </a>

    <section class="talk__info">
        <a href="{{include.talk.link}}" class="talk__title">
            <h2>
                {{include.talk.name}}
            </h2>
        </a>

        <p class="talk__date">
            {{include.talk.date | date_to_string}}
        </p>

        <p class="talk__location">
            {{include.talk.city}}
        </p>

        {% if include.talk.youtube_playlist %}
        <a href="{{include.talk.youtube_playlist}}" class="btn talk__more-info">
            Full video playlist
        </a>
        {% else %}
        <a href="" disabled class="btn talk__more-info">
            Videos coming soon
        </a>
        {% endif %}

        <a href="{{include.talk.link}}" class="talk__conference-list">
            Conference profile
        </a>
    </section>
</article>
