.about-details {
    img {
        width: 128px;
    }
    p {
        margin-top: 30px;

    }
    .description {
        @media (max-width: 767px) {
            padding-left: calc(128px + 0.5em); /* image width = my padding */
            padding-right: 0.5em;
            padding-top: calc(26px + 20px); /* header + line-height */
            text-align: right;
        }
    }

    .about-item-header {
        @media (max-width: 767px) {
            float: left;
            text-align: left;
            h5 {
                text-align: left;
            }
        }
    }

    @media (max-width: 767px) {
        .about-details-item {
            margin-top: 2em;
        }
    }
}

.about-intro {
    p {
        margin-bottom: 35px;
    }
}
