---
layout: default
permalink: /
---

<section class="current-talks">
    <img src="/img/slope-up.svg" class="current-talks__slope" alt="slope" />
    <div class="current-talks__content">
        <header>
            <h1>
                <img src="{{site.organizerLogo}}" alt="source{d}" />
                tech talks
            </h1>
            <p class="description">
                Every now and then we gather a kick-ass group of <b>awesome speakers</b> and talk about technology
            </p>
        </header>

        {% if site.current_talks != empty %}
        <div class="talk-list">
            <h2 class="talk-list__header">upcoming talks!</h2>
            {% for talk in site.current_talks %}
            {% include current_talk.html talk=talk %}
            {% endfor %}
        </div>
        {% endif %}
    </div>
</section>

<section class="about">
    <h1 class="about__header">
        About our tech talks
    </h1>
    <p class="description">
        We will be hosting great speakers in an informal setting <b>every ~3 months</b><br>
        Each series of talks will cover a different topic targeted to an <b>experienced technical audience</b><br>
        Speakers will be invited both from Spain and abroad
    </p>
</section>

<section class="past-talks">
    <img src="/img/slope-down.svg" class="past-talks__slope" alt="slope" />
    <div class="talk-list">
        <h2 class="talk-list__header">previous talks</h2>
        {% for talk in site.past_talks %}
            {% include past_talk.html talk=talk %}
        {% endfor %}
    </div>
</section>

