<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {% include head.html %}

  <body>
    <div id="preloader" class="preloader">
        {% include loader.html %}
    </div>

    {% include header.html %}

    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        {{ content }}
      </div>
    </main>

    {% include footer.html %}

    <script>
        window.jQuery || document.write('<script src="{{ "/js/jquery-2.1.1.min.js" | prepend: site.baseurl }}"><\/script>')
    </script>
    <script src="{{ "/js/scripts.js" | prepend: site.baseurl }}"></script>
    <script src="{{ "/js/bundle.js" | prepend: site.baseurl }}"></script>
  </body>
</html>
